/* Pesquisa - ReparaTudo - seu ponto ideal para a restauração de (quase) tudo no mundo da informática. */
body {
    background-color: rgb(40, 54, 68);
    font-family: 'Corbel', helvetica, arial, sans-serif;
    margin: 0px;
    color: #fff;
}
a:hover{
    scale: 1.5 1.5;
    color: rgb(255, 240, 34);
}

header{
   display: flex;
   background-color: rgba(0, 0, 0, 0.74);
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px;
   align-items: center;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:rgb(0, 110, 255);
}
.menu{
    display: flex;
 }

.menu li{
    margin-left: 10px;
}

.menu > li a{
    display: block;
    padding: 10px;
} 
/* main */
div{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.search > div img{
    width: 100px;
    
}
.search > h1{
    text-align: center;
}
.voltar{
    width: 20px;
}
p{
    text-align: center;
}
nav{
    display: flex;
    justify-content: center;
}
nav > a > img{
    width: 20px;
    padding-left: 20px;
    
}
/* footer*/ 
.copyright{
    justify-content: center;
    background-color: #000;
    margin-top: 19%;
}
