body {
    background-color: rgb(160, 199, 236);
    font-family: 'Segoe UI', 'Helvetica Neue', helvetica, arial, sans-serif;
    margin: 0px;
}

header {
    background-image: url(/img/header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    height: 40vh;
    min-height: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: white; text-shadow: black 0.2em 0.2em 0.2em
}

main .service .circle-icon {
    background-color: rgba(255, 0, 0, 0.178);
    color: #FAA;
    width: 6em;
}
 .barra-superior{
    display: flex;
    background-color: rgba(255, 255, 255, 0.268);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
 }

 .menu{
    display: flex;
 }

 .menu li{
    margin-left: 10px;
 }

 .menu li a{
    display: block;
    padding: 10px;
 }

 a{
    text-decoration: none;
    color:rgb(0, 110, 255);
 }

 ul{
    list-style: none;
 }
/* body */
.mapa iframe{
    width: 100%;
}
.service-description{
    text-align: center;
}

section > h1{
    text-align: center;
}

img{
    
    max-width: 100%;
    display: block;
}
.conteudo{
    display: flex;
    flex-wrap: wrap;
}
.conteudo > section{
    flex: 1 1 250px;
}

section > img{
    margin: auto;
    width: 200px;
}
/* footer*/
.copyright{
    text-align: center;
}
.social-footer{
    display: flex;
}
.social > ul {
    justify-content: center;
}
.social > ul >li{
    padding: 0 10px;
}
p{
    text-align: center;
}
a:hover{
    scale: 1.5 1.5;
    color: black
}
